{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DEU - HM</title>
	{% load bootstrap5 %}
	{% bootstrap_css %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	{% bootstrap_javascript %}
	<link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body class="custom-background">
	<!-- Section: Design Block -->

	<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
		<div class="row gx-lg-5 align-items-center mb-5">
			<div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
				<h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
					Registrate <br />
				</h1>
				<p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
					Ya estas registrado? <a href="{% url 'login' %}" style="color: hsl(218, 81%, 95%)">Inicia sesión</a>
				</p>
			</div>

			<div class="col-lg-6 mb-5 mb-lg-0 position-relative">
				<div class="position-absolute rounded-circle shadow-5-strong"></div>
				<div class="position-absolute shadow-5-strong"></div>

				<div class="card bg-glass" style="border-radius: 2rem;">
					<div class="card-body px-4 py-5 px-md-5">
						{{ form.media }}
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<!-- 2 column grid layout with text inputs for the first and last names -->
							<div class="row">
								<!-- First Name -->
								<div class="col-md-6 mb-2">
									<div class="form-outline">
										<label for="{{ form.first_name.id_for_label }}"
											class="form-label">Nombre</label>
										{{ form.first_name }}
										{% if form.first_name.errors %}
										<p class="error">{{ form.first_name.errors }}</p>
										{% endif %}
									</div>
								</div>
								<!-- Last Name -->
								<div class="col-md-6 mb-2">
									<div class="form-outline">
										<label for="{{ form.last_name.id_for_label }}"
											class="form-label">Apellido</label>
										{{ form.last_name }}
										{% if form.last_name.errors %}
										<p class="error">{{ form.last_name.errors }}</p>
										{% endif %}
									</div>
								</div>
							</div>

							<!-- Username -->
							<div class="form-outline mb-2">
								<label for="{{ form.username.id_for_label }}" class="form-label">Usuario</label>
								{{ form.username }}
								{% if form.username.errors %}
								<p class="error">{{ form.username.errors }}</p>
								{% endif %}
							</div>


							<!-- Email input -->
							<div class="form-outline mb-2">
								<label for="{{ form.email.id_for_label }}" class="form-label">Correo electrónico</label>
								{{ form.email }}
								{% if form.email.errors %}
								<p class="error">{{ form.email.errors }}</p>
								{% endif %}
							</div>

							<!-- 2 column grid layout with text inputs for the birth date and gender -->
							<div class="row">
								<!-- Birth date -->
								<div class="col-md-6 mb-2">
									<div class="form-outline">
										<label for="{{ form.date_of_birth.id_for_label }}" class="form-label">Fecha de
											nacimiento</label>
										{{ form.date_of_birth }}
										{% if form.date_of_birth.errors %}
										<p class="error">{{ form.date_of_birth.errors }}</p>
										{% endif %}
									</div>
								</div>

								<!-- Gender -->
								<div class="col-md-6 mb-2">
									<div class="form-outline">
										<label for="{{ form.gender.id_for_label }}" class="form-label">Género</label>
										{{ form.gender }}
										{% if form.gender.errors %}
										<p class="error">{{ form.gender.errors }}</p>
										{% endif %}
									</div>
								</div>
							</div>

							<!-- 2 column grid layout with text inputs for the birth date and gender -->
							<div class="row">
								<!-- Phone number -->
								<div class="col-md-6 mb-2">
									<div class="form-outline">
										<label for="{{ form.phone_number.id_for_label }}" class="form-label">Num. de
											celular</label>
										{{ form.phone_number }}
										{% if form.phone_number.errors %}
										<p class="error">{{ form.phone_number.errors }}</p>
										{% endif %}
									</div>
								</div>

								<!-- Profile picture -->
								<div class="col-md-6 mb-2">
									<div class="form-outline">
										<label for="{{ form.profile_picture.id_for_label }}" class="form-label">Foto de
											perfil</label>
										{{ form.profile_picture }}
										{% if form.profile_picture.errors %}
										<p class="error">{{ form.profile_picture.errors }}</p>
										{% endif %}
									</div>
								</div>
							</div>

							<!-- Password input -->
							<div class="form-outline mb-2">
								<label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña</label>
								{{ form.password1 }}
								{% if form.password1.errors %}
								<p class="error">{{ form.password1.errors }}</p>
								{% endif %}
							</div>

							<div class="form-outline mb-2">
								<label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar
									contraseña</label>
								{{ form.password2 }}
								{% if form.password2.errors %}
								<p class="error">{{ form.password2.errors }}</p>
								{% endif %}
							</div>

							<!-- Submit button -->
							<button type="submit" class="btn btn-primary btn-block mb-4">
								Registrate
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>