.custom-background {
  background-image: url(); /* Ruta correcta a la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}