{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/notes.css' %}">
<link rel="stylesheet" href="{% static 'css/new_address.css' %}">

<h1 style="margin-bottom: 20px; margin-left: 50px; padding-top: 20px;">Ubicaciones</h1>


<h1>
    <a href="new_address">
        <button class="button-40" style="margin-left: 50px; margin-bottom: 30px;" role="button">Agregar ubicacion</button>
    </a>
</h1>



<div class="container">
<div class="col-md-12">
    {% for ubic in ubics %}
        <div class="card b-1 hover-shadow mb-20 mr-50 ml-50">
            <div class="media card-body">
                <div class="media-left pr-12">
                    <img class="avatar avatar-xl no-radius" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                </div>
                <div class="media-body">
                    <div class="mb-2">
                        <span class="fs-20 pr-16">{{ubic.address}}</span>
                    </div>
                    <small class="fs-16 fw-300 ls-1">Latitud: {{ubic.lat}} - </small>
                    <small class="fs-16 fw-300 ls-1">Longitud: {{ubic.long}}</small>
                </div>
            </div>
        </div>
    {% endfor %}
    <br>
</div>
</div>


{% endblock %}










