{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> DEU - HM </title>
    <link rel="stylesheet" href='{% static "css/nav.css" %}'>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>

        <body>
            <nav>
                <div class="navbar">
                  <div class="logo"><a href="/">DEU - HM</a></div>
                  <ul class="menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#About">Acerca de</a></li>
                    <li><a href="{% url 'signup' %}">Registrate</a></li>
                  </ul>
                </div>
              </nav>
              {% comment %} <section id="Home">Home Section</section>
              <section id="About">About Section</section>
              <section id="Category">Category Section</section>
              <section id="Contact">Contact Section</section>
              <section id="Feedback">Feedback Section</section> {% endcomment %}
              {% comment %} <div class="button">
                <a href="#Home"><i class="fas fa-arrow-up"></i></a>
              </div> {% endcomment %}
            </body> 
        