{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Home </title>
  <link rel="stylesheet" href='{% static "css/home.css" %}'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus icon'></i>
    <div class="logo_name">DEU - HM</div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class='bx bx-search'></i>
      <input type="text" placeholder="Search...">
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a href="{% url 'home' %}">
        <i class='bx bx-home'></i>
        <span class="links_name">Home</span>
      </a>
      <span class="tooltip">Home</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user'></i>
        <span class="links_name">Mi Perfil</span>
      </a>
      <span class="tooltip">Mi Perfil</span>
    </li>
    <li>
      <a href="{% url 'notes' %}">
        <i class='bx bx-chat'></i>
        <span class="links_name">Notas</span>
      </a>
      <span class="tooltip">Notas</span>
    </li>
    <li>
      <a href="{% url 'get_ubics' %}">
        <i class='bx bx-map-pin'></i>
        <span class="links_name"> Ubicaciones</span>
      </a>
      <span class="tooltip">Ubicaciones</span>
    </li>

    <li>
      <a href="{% url 'createEnt' %}">
        <i class='bx bx-user-plus'></i>
        <span class="links_name">Agregar entrevistado</span>
      </a>
      <span class="tooltip">Agregar entrevistado</span>
    </li>

    <li class="profile">
      <div class="profile-details">
        <img src="{{ request.user.profile_picture.url }}" alt="profileImg">
        <div class="name_job">
          <div class="name">{{ request.user.username }}</div>
          <div class="job">
            {% if request.user.role == "v" %}
              Espectador
            {% else %}
              Investigador
            {% endif %}
          </div>          
          <a href="{% url 'logout' %}" class="log_out"><i class='bx bx-log-out' id="log_out"></i></a>
    </li>

</div>
</ul>
</div>
<section class="home-section">
  {% block content %}
  {% endblock %}
</section>
</div>
</body>


<script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", () => {
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
    if (sidebar.classList.contains("open")) {
      closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
    } else {
      closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class
    }
  }
</script>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />

</html>