{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Contenido específico de la página de inicio -->
<meta charset="utf-8">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<style>
  body { margin: 0; padding: 0; }
  #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
  <body>
      <div id="map"></div>
          <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibGVlc2FuNjQiLCJhIjoiY2xrNnptbWtkMDNpYjNrbnoxZHltZmhtbiJ9.hDEJKjc9Cq2708RJIHigIA';
    var map = new mapboxgl.Map({
        container: 'map', // container ID
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [-58.381485, -34.603969], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });
    {% for address in addresses %}
      var marker = new mapboxgl.Marker()
      .setLngLat([{{ address.long }}, {{ address.lat }}])
      .setPopup(new mapboxgl.Popup().setHTML("<p>{{ address.address }}</p>"))
      .addTo(map);
      {% endfor %}
</script>
{% endblock %}


