{% extends 'base.html' %}

{% load static %}
{% from .models import Note % }


{% block content %}
<!-- Contenido específico de la página de inicio -->

<head>
  <meta charset="utf-8">
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/avisos.css' %}">
</head>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  #miBoton {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    padding: 20px 30px;
    background-color: #1d1b31;
    color: #fff;
    cursor: pointer;
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
</style>

<body>
  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <!-- Modal Button -->
  <button id='miBoton' class="button-40" data-target="#myModal" data-toggle="modal">Nueva nota</button>
  <div id="map"></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Nueva nota</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          {{ form.media }}
          <form action="" method=POST>
            {% csrf_token %}

            <!-- Titulo -->
            <div class="form-group">
              <div class="form-outline mb-1">
								<label for="{{ form.titulo.id_for_label }}" class="form-label">Titulo</label>
								{{ form.titulo }}
								{% if form.titulo.errors %}
								<p class="error">{{ form.titulo.errors }}</p>
								{% endif %}
							</div>
            </div>

            <!-- Cuerpo -->
            <div class="form-group">
              <div class="form-outline mb-1">
								<label for="{{ form.texto.id_for_label }}" class="form-label">Cuerpo</label>
								{{ form.texto }}
								{% if form.texto.errors %}
								<p class="error">{{ form.texto.errors }}</p>
								{% endif %}
							</div>
            </div>

            <!-- Ubicacion y fecha de entrevistado -->
            <div class="row">
              <!-- Ubicacion -->
              <div class="col-md-6 mb-1">
                <div class="form-outline">
                  <label for="{{ form.ubic.id_for_label }}"
                    class="form-label">Ubicacion</label>
                  {{ form.ubic }}
                  {% if form.ubic.errors %}
                  <p class="error">{{ form.ubic.errors }}</p>
                  {% endif %}
                </div>
              </div>
              <!-- Fecha de entrevistado -->
              <div class="col-md-6 mb-1">
                <div class="form-outline">
                  <label for="{{ form.fechaEntr.id_for_label }}"
                    class="form-label">Fecha de entrevistado</label>
                  {{ form.fechaEntr }}
                  {% if form.fechaEntr.errors %}
                  <p class="error">{{ form.fechaEntr.errors }}</p>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- Entrevista (Boolean) -->
            <div class="form-check mt-2">
              <div class="form-outline mb-1">
								{{ form.entrevista }}
								<label for="{{ form.entrevista.id_for_label }}" class="form-label">¿Incluye un entrevistado?</label>
								{% if form.entrevista.errors %}
								<p class="error">{{ form.entrevista.errors }}</p>
								{% endif %}
							</div>
            </div>
            <hr>

            <div id="entrevistado-formset">
              {{ entrevistado_formset.management_form }}
              {% for form in entrevistado_formset %}
                <div class="row">
                  <!-- Nombre entrevistado -->
                  <div class="col-md-6 mb-1">
                    <div class="form-outline">
                      <label for="{{ form.nombre.id_for_label }}"
                        class="form-label">Nombre</label>
                      {{ form.nombre }}
                      {% if form.nombre.errors %}
                      <p class="error">{{ form.nombre.errors }}</p>
                      {% endif %}
                    </div>
                  </div>
                  <!-- Apellido entrevistado -->
                  <div class="col-md-6 mb-1">
                    <div class="form-outline">
                      <label for="{{ form.apellido.id_for_label }}"
                        class="form-label">Apellido</label>
                      {{ form.apellido }}
                      {% if form.apellido.errors %}
                      <p class="error">{{ form.apellido.errors }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Edad entrevistado -->
                  <div class="col-md-6 mb-1">
                    <div class="form-outline">
                      <label for="{{ form.edad.id_for_label }}"
                        class="form-label">Edad</label>
                      {{ form.edad }}
                      {% if form.edad.errors %}
                      <p class="error">{{ form.edad.errors }}</p>
                      {% endif %}
                    </div>
                  </div>
                  <!-- Profesion entrevistado -->
                  <div class="col-md-6 mb-1">
                    <div class="form-outline">
                      <label for="{{ form.profesion.id_for_label }}"
                        class="form-label">Profesion</label>
                      {{ form.profesion }}
                      {% if form.profesion.errors %}
                      <p class="error">{{ form.profesion.errors }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}

              <!-- Agrega el campo oculto para user -->
              {{ form.user }}
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibGVlc2FuNjQiLCJhIjoiY2xrNnptbWtkMDNpYjNrbnoxZHltZmhtbiJ9.hDEJKjc9Cq2708RJIHigIA';
    var map = new mapboxgl.Map({
      container: 'map', // container ID
      // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
      style: 'mapbox://styles/mapbox/streets-v12', // style URL
      center: [-58.381485, -34.603969], // starting position [lng, lat]
      zoom: 9 // starting zoom
    });
  </script>
  <script>
    fetch('/get_ubicaciones/')
      .then(response => response.json())
      .then(data => {
        data.forEach(ubic => {
          // Agrega el marcador al mapa

          var popup = new mapboxgl.Popup({ closeOnClick: true }, { offset: 50 })
            .setHTML(`
            <h3 class="">${ubic.nombre}</h3>
            <p>${ubic.address} | ${ubic.tipo}</p>
            <a data-target="#myModal" data-toggle="modal" href="#" class="btn btn-dark btn-sm">Nueva nota</a>
            <a href="${ubic.url_detail}" class="btn btn-dark btn-sm">
              Ver detalle
            </a>
          `);

          const marker = new mapboxgl.Marker()
            .setLngLat([ubic.long, ubic.lat])
            .setPopup(popup)
            .addTo(map);
        });
      })
      .catch(error => {
        console.error('Error al obtener los datos:', error);
      });
  </script>

</body>

<script>
  $(document).ready(function () {
    // Cuando el valor del campo booleano cambia
    $("#id_entrevista").change(function () {
      // Obtener el valor actual del campo booleano (true o false)
      var valorHayEntrevista = $(this).is(":checked");

      // Habilitar o deshabilitar el campo de fecha según el valor del campo booleano
      $("#id_fecha_entrevista").prop("disabled", !valorHayEntrevista);
    });

    // Verificar el valor inicial del campo booleano al cargar la página
    $("#id_entrevista").trigger("change");
  });
</script>

<script>
  $("#myModal").prependTo("body");
</script>

<script type="text/javascript">
  $(document).ready(function () {
    var campoBooleano = $('#id_entrevista');
    var camposADesactivar = [
      $('#id_fechaEntr'),
      $('#id_entrevistado-0-nombre'), // Ajusta los IDs según la estructura real
      $('#id_entrevistado-0-apellido'), // Ajusta los IDs según la estructura real
      $('#id_entrevistado-0-edad'), // Ajusta los IDs según la estructura real
      $('#id_entrevistado-0-profesion') // Ajusta los IDs según la estructura real
    ];

    // Función para habilitar o deshabilitar campos dependiendo del valor del campo booleano
    function controlarCampos() {
      if (campoBooleano.prop('checked')) {
        camposADesactivar.forEach(function(campo) {
          campo.prop('disabled', false);
        });
      } else {
        camposADesactivar.forEach(function(campo) {
          campo.prop('disabled', true);
        });
      }
    }

    // Llamar a la función cuando la página se cargue, cuando el valor del campo booleano cambie
    // y cuando el campo de fecha de entrevistado obtenga el enfoque
    controlarCampos();
    campoBooleano.change(controlarCampos);
    $('#id_fechaEntr').focus(controlarCampos);
  });
</script>
{% endblock %}