{% extends 'base.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}
</style>
<div class="container">
    <h1 style="padding-top: 20px;"></h1>
    {{ form.media }}
    <form action="" method="post" style="padding-top: 20px;">
        {% csrf_token %}
        <div class="form-group">
            <!-- Titulo -->
            <div class="form-group">
                <div class="form-outline mb-1">
                    <label for="{{ form.titulo.id_for_label }}" class="form-label">Titulo</label>
                    {{ form.titulo }}
                    {% if form.titulo.errors %}
                    <p class="error">{{ form.titulo.errors }}</p>
                    {% endif %}
                </div>
            </div>

            <!-- Cuerpo -->
            <div class="form-group">
                <div class="form-outline mb-1">
                    <label for="{{ form.texto.id_for_label }}" class="form-label">Cuerpo</label>
                    {{ form.texto }}
                    {% if form.texto.errors %}
                    <p class="error">{{ form.texto.errors }}</p>
                    {% endif %}
                </div>
            </div>

            <!-- Ubicacion y fecha de entrevistado -->
            <div class="row">
                <!-- Ubicacion -->
                <div class="col-md-6 mb-1">
                    <div class="form-outline">
                        <label for="{{ form.ubic.id_for_label }}" class="form-label">Ubicacion</label>
                        {{ form.ubic }}
                        {% if form.ubic.errors %}
                        <p class="error">{{ form.ubic.errors }}</p>
                        {% endif %}
                    </div>
                </div>
                <!-- Fecha de entrevistado -->
                <div class="col-md-6 mb-1">
                    <div class="form-outline">
                        <label for="{{ form.fechaEntr.id_for_label }}" class="form-label">Fecha de entrevistado</label>
                        {{ form.fechaEntr }}
                        {% if form.fechaEntr.errors %}
                        <p class="error">{{ form.fechaEntr.errors }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Entrevista (Boolean) -->
            <div class="form-check mt-2">
                <div class="form-outline mb-1">
                    {{ form.entrevista }}
                    <label for="{{ form.entrevista.id_for_label }}" class="form-label">¿Incluye un entrevistado?</label>
                    {% if form.entrevista.errors %}
                    <p class="error">{{ form.entrevista.errors }}</p>
                    {% endif %}
                </div>
            </div>
            <hr>

            <div id="entrevistado-formset">
                {{ entrevistado_formset.management_form }}
                {% for form in entrevistado_formset %}
                <div class="row">
                    <!-- Nombre entrevistado -->
                    <div class="col-md-6 mb-1">
                        <div class="form-outline">
                            <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre</label>
                            {{ form.nombre }}
                            {% if form.nombre.errors %}
                            <p class="error">{{ form.nombre.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Apellido entrevistado -->
                    <div class="col-md-6 mb-1">
                        <div class="form-outline">
                            <label for="{{ form.apellido.id_for_label }}" class="form-label">Apellido</label>
                            {{ form.apellido }}
                            {% if form.apellido.errors %}
                            <p class="error">{{ form.apellido.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Edad entrevistado -->
                    <div class="col-md-6 mb-1">
                        <div class="form-outline">
                            <label for="{{ form.edad.id_for_label }}" class="form-label">Edad</label>
                            {{ form.edad }}
                            {% if form.edad.errors %}
                            <p class="error">{{ form.edad.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Profesion entrevistado -->
                    <div class="col-md-6 mb-1">
                        <div class="form-outline">
                            <label for="{{ form.profesion.id_for_label }}" class="form-label">Profesion</label>
                            {{ form.profesion }}
                            {% if form.profesion.errors %}
                            <p class="error">{{ form.profesion.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- Agrega el campo oculto para user -->
                {{ form.user }}
            </div>
            <div class="form-group">
                <input class="button-40" type="submit" value="Actualizar">
            </div>
    </form>

    {% endblock %}